.password-checker-container {
  border: 0.07rem solid #444;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 35rem;
  margin-bottom: 2rem;
}

.password-checker-container h2 {
  text-align: center;
}

.password-message {
  margin: 0 0 2rem 0;
  text-align: center;
}

.password-message:last-child {
  margin-bottom: 2rem;
}

.password-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
}

.password-input-inner {
  position: relative;
}

.password-input-container input {
  width: 20rem;
  height: 2.5rem;
  font-size: 1.3rem;
  padding: 0rem 3rem 0rem 0.6rem;
  border-radius: 0.9rem;
  color: #1c1e21;
  background-color: #edeeec;
  border: none;
}

.password-checker-btn {
  display: inline-flex;
  align-items: center;
  top: 0;
  translate: -100% 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.9rem;
  background-color: #121933;
  border: 1px solid #fff9;
  position: absolute;
}

.password-checker-btn:hover {
  transition: all 0.3s ease-out;
  background-color: #717585;
  cursor: pointer;
}

.password-requirement-fail {
  color: var(--ifm-color-danger);
}

.password-requirement-pass {
  color: var(--ifm-color-success);
}
