.card {
  padding: 2rem;
}

.card > img:first-child {
  margin-bottom: 0.4rem;
}

.card h2 {
  font-weight: 700;
}

.card a {
  display: flex;
  gap: 0.3rem;
  font-weight: 600;
  align-items: center;
}
