.content-grid {
  margin: 3rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.widget-filler {
  grid-row: 1/-1;
  width: 80%;
}

.content-inner {
  grid-row: 1/-1;
  display: flex;
  grid-column: 2/-1;
}

/*/ Responsive styles  */
/*/ Mobile */
@media (max-width: 360px) {
  .content-grid {
    width: 100%;
  }

  .content-inner {
    flex-direction: column;
    grid-row: 1/-1;
    grid-column: 1/-1;
  }

  .widget-filler {
    display: none;
  }
}

/*/ Tablets */
@media (min-width: 361px) and (max-width: 768px) {
  .content-grid {
    width: 100%;
  }

  .content-inner {
    flex-direction: column;
    grid-row: 2/-1;
    grid-column: 1/-1;
  }

  .widget-filler {
    width: 60%;
    grid-row: 1;
    grid-column: 1/-1;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
}

/*/ Laptopts */
@media (min-width: 1025px) and (max-width: 1400px) {
}

@media (min-width: 1401px) and (max-width: 1920px) {
}

/*/ Desktops above 1920px will use the regular CSS created above media queries*/
