.author_container {
  display: flex;
  /* justify-content: flex-end; */
  width: 100%;
}

@keyframes active-hover-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

@keyframes active-hover-out {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}

/* Single Author Styles */

.author-card {
  display: flex;
  width: 25rem;
  height: min(5rem);
  border-radius: 0.5rem;
  border: 0.5px solid var(--ifm-toc-border-color);
  position: relative;
  margin-top: 2rem;
}

.author-card::after {
  content: 'Author:';
  height: 6.7rem;
  position: absolute;
  font-style: italic;
  opacity: 0.6;
  top: -2rem;
}

.author_img {
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  height: 5rem;
  border: 0.5px solid var(--ifm-toc-border-color);
}

.author_img_default {
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  height: 5rem;
  padding: 0rem 0.5rem;
  border: 0.5px solid var(--ifm-toc-border-color);
}

.author-info {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.author-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-name {
  font-size: 1rem;
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
}

.author-extra-info {
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-weight: bold; */
}
.author-bio {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.social-link {
  display: inline-flex;
  align-items: center;
}

.social-logo {
  width: 2.4rem;
  filter: var(--ifm-menu-link-sublist-icon-filter);
  margin-right: 1rem;
}

/* Multiple Authors Styles */

.author-pill-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 3rem;
  position: relative;
}

.author-pill-container:before {
  content: 'Authors:';
  height: 6.7rem;
  position: absolute;
  font-style: italic;
  opacity: 0.6;
  font-size: 0.85rem;
  top: -2.2rem;
}

.author-pill {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  height: 2.5rem;
  gap: 0.5rem;
  border: 1px solid var(--ifm-toc-border-color);
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.author_img_pill {
  border-radius: 50%;
  height: 3.2rem;
  border: solid 0.15rem var(--ifm-toc-border-color);
}

.social-logo-pill {
  border-radius: 3rem;
  position: absolute;
  top: -0.4rem;
  left: -0.1rem;
  z-index: 1;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fff;
  border: solid 0.09rem #444950;
  filter: invert(1);
  opacity: 0;
  animation: active-hover-out 0.2s ease-in;
}

.pill-link:hover div .social-logo-pill {
  animation: active-hover-in 0.2s ease-in forwards;
}
.author-name-pill {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  width: 7rem;
}

.pill-link {
  display: inline-flex;
}

.pill-link:visited,
.pill-link:link,
.pill-link:hover,
.pill-link:active {
  text-decoration: none;
  color: var(--ifm-font-color-base);
}
